html {
  font-family: sans-serif;
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.bingo-square {
  border: 1px solid #ccc;
  padding: 10px;
  background: #f5f5f5;
  min-height: 80px;
  display:flex;
  align-items: center;
  justify-content: center;;
}

.mt10 {
  margin-top: 10px;
}
